<div class="bg-gray-100 rounded-lg p-10">
    <div class="flex flex-col items-center lg:flex-row lg:justify-between lg:items-end gap-8 lg:gap-20">
        <div class="inputs__wrapper w-full flex flex-col lg:flex-row lg:items-center gap-5">
            <div class="input flex-1">
                <p class="text-gray-600">date d'arrivée</p>
                <app-form-input [type]="'date'"></app-form-input>
            </div>

            <div class="input flex-1">
                <p class="text-gray-600">date de départ</p>
                <app-form-input [type]="'date'"></app-form-input>
            </div>

            <div class="input flex-1">
                <p class="text-gray-600">Personnes</p>
                <app-form-input [type]="'number'" [value]="1"></app-form-input>
            </div>
        </div>

        <app-button [name]="'Rechercher'"></app-button>
    </div>
</div>