<div class="bg-gray-light rounded-lg p-10 mx-4">
    <div class="flex flex-col items-center md:flex-row md:justify-between md:items-end gap-8 md:gap-20">
        <div class="inputs__wrapper w-full flex flex-col md:flex-row md:items-center gap-5">
            <div class="input flex-1">
                <p class="text-gray-base">date d'arrivée</p>
                <app-form-input [type]="'date'"></app-form-input>
            </div>

            <div class="input flex-1">
                <p class="text-gray-base">date de départ</p>
                <app-form-input [type]="'date'"></app-form-input>
            </div>

            <div class="input flex-1">
                <p class="text-gray-base">Personnes</p>
                <app-form-input [type]="'number'" [value]="1"></app-form-input>
            </div>
        </div>

        <app-button [name]="'Rechercher'"></app-button>
    </div>
</div>