<section class="hero bg-[url('assets/hero.jpg')] -mt-40 flex flex-col">
    <div class="container">
        <div class="hero_text_wrapper text-white text-center mt-52">
            <h1 class="text-6xl font-bold">Bienvenue au Franco Hotel</h1>
            <p class="mt-14">L'endroit ideal pour passer un sejour agréable</p>
        </div>
        <app-date-reservation></app-date-reservation>
    </div>
</section>

<section class="mt-32 text-center">
    <div class="container">
        <h2 class="text-4xl font-bold">Visite Réalité Augmentée</h2>
        <p class="text-gray-600 mt-5">Au coeur de la capitale Yaoundé, dans un quarter sécurisé, lhotel FRANCO vous
            propose
            plus
            de 100
            chambres et suites de luxe, de grands espaces de réception, terrasses, piscine, 2 parkinas sous-terrain..
            Dans
            un cadre alliant contort et serenite. Magnifique espace hotelier 4 etolles avec bar et restaurant moderne
            espace piscine, wifi, navette aeroport</p>
    </div>
    <div class="mt-5">
        <iframe class="w-full" height="315" src="https://www.youtube.com/embed/vPLfRjmOluU" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div *ngfor="let image of vistesImages">
        <img src="" alt="">
    </div>
</section>